body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #7D7D7D;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #7494D4;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #7494D4 !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #7494D4;
  color: #fff;
}
.btn-login:hover {
  background-color: #7EA2E9;
  color: #ffffff;
}

header {
  padding: 180px 0 165px;
  background: url("../images/imgheader.png");
  background-size: cover;
  margin-top: -70px;
}
header h1,
header p {
  color: #ffffff;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #FF7C00;
  color: white;
}
header .btn-get-started:hover {
  background-color: #FF9C3F;
  color: white;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 60px;
}
.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-weight: lighter;
  font-size: 20px;
}

.section-popular {
  min-height: 540px;
  background-color: #7494D4;
  margin-top: -50px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: white;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #686868;
  color: white;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: white;
}
.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: white;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #FF7C00;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #FF9C3F;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  padding-top: 240px;
  margin-top: -170px;
  padding-block: 50px;
}
.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-networks p {
  font-size: 18px;
}
.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: linear-gradient(180deg, #FFFBFB 0%, #EFF1F4 100%);
  padding-top: 50px;
  min-height: 506px;
}
.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}
.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 200px;
}
.section-testimonial-content .card-testimonial img {
  max-width: 50%;
  background-size: cover;
}
.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}
.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 18px;
  color: #7D7D7D;
  min-height: 160px;
}
.section-testimonial-content .card-testimonial .trip-to {
  font-style: normal;
  font-size: 20px;
  color: #C4C4C4;
}
.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}
.section-testimonial-content .btn-get-started {
  background-color: #FF7C00;
  color: white;
}
.section-testimonial-content .btn-get-started:hover {
  background-color: #FF9C3F;
  color: white;
}
.section-testimonial-content .btn-need-help {
  background-color: #C4C4C4;
  color: white;
}
.section-testimonial-content .btn-need-help:hover {
  background-color: #E5E5E5;
  color: white;
}

.section-footer a {
  color: #686868;
}

.section-details-header {
  min-height: 310px;
  background-color: #CBD6E2;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #7D7D7D;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 22px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: #CDCDCD;
}
.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #7494D4;
}
.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #7D7D7D;
}
.section-details-content .card-details .trip-informations .text-blue {
  color: #02536E;
  font-weight: bold;
}
.section-details-content .card-details .trip-informations .text-red {
  color: #C9220C;
  font-weight: bold;
}
.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #C4C4C4;
}
.section-details-content .card-details .bank-item h3 {
  font-size: 18px;
  margin-bottom: 0;
  color: #7D7D7D;
}
.section-details-content .card-details .bank-item p {
  margin-bottom: 0;
}
.section-details-content .card-details .bank-item .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .card-details .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #7D7D7D;
}
.section-details-content .card-details .bank-item .description h3 {
  font-weight: normal;
  font-size: 16px;
  color: #7D7D7D;
}
.section-details-content .card-details .disclamer {
  font-weight: 300;
  font-size: 14px;
  color: #CDCDCD;
}
.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}
.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}
.section-details-content .card-details .btn-add-now {
  background-color: #7494D4;
  color: #ffffff;
}
.section-details-content .card-details .btn-add-now:hover {
  background-color: #7EA2E9;
  color: #ffffff;
}
.section-details-content .card-details .features {
  margin-top: 20px;
}
.section-details-content .card-details .features h3 {
  font-size: 18px;
  color: #7494D4;
  margin-bottom: 0;
}
.section-details-content .card-details .features p {
  margin-bottom: 0;
}
.section-details-content .card-details .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.section-details-content .gallery .xzoom-container {
  display: block;
}
.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #1ABC9C;
  box-shadow: none;
}
.section-details-content .members .members-image {
  width: 51px;
  height: 51px;
}
.section-details-content .join-container .btn-join-now {
  background-color: #FF7C00;
  color: #fff;
  border-radius: 0;
}
.section-details-content .join-container .btn-join-now:hover {
  background-color: #FF9C3F;
  color: #fff;
}

.section-success {
  height: 90vh;
}
.section-success h1 {
  font-weight: 600;
  font-size: 26px;
}
.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-success .btn-home-page {
  background-color: #7494D4;
  color: #EFF1F4;
}
.section-success .btn-home-page:hover {
  background-color: #7EA2E9;
  color: #EFF1F4;
}/*# sourceMappingURL=main.css.map */